<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <style>
      /* body {
        font-family: Arial, sans-serif;
        background: #f8f8f8;
        text-align: center;
        padding: 50px;
      }
      .container {
        max-width: 500px;
        margin: auto;
        background: white;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #e74c3c;
      }
      a {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 20px;
        background: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 8px;
      }
      a:hover {
        background: #2980b9;
      } */
      * {
        margin: 0 0;
        padding: 0 0;
        font-family: sans-serif, Arial;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        min-height: 100vh;
        max-width: 30rem;
        margin: auto;
      }
      h1 {
        color: #e74c3c;
        font-size: 3.5rem;
      }
      a {
        text-decoration: none;
        padding: 10px 20px;
        background-color: #21a843;
        font-weight: 550;
        color: white;
        border-radius: 8px;
        margin-top: 20px;
        transition: background-color 0.3s ease;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p><%= message %></p>
      <% if (redirectUrl) { %>
      <a href="<%= redirectUrl %>">Go to Login</a>
      <% } %>
    </div>
  </body>
</html>
